body {
    background: #F08080;
}

.self {
    text-align: center;
}
.page-title {
    font-family: 'STKaiti';
    font-weight: bold;
    color: #fff;
    font-size: 48px;
}
.self h4 {
    font-family: 'SimHei';
    color: #fff;
    font-size: 18px;
}
.self h3 {
    font-family: 'FangSong_GB2312';
    color: #fff;
    font-size: 24px;
}
.self img {
    width: 40%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 10px solid #FFB6C1;
}

#skill h1{
    color: #F08080;
}
#skill label {
     color: #1f8dd6;
}
#work h1 {
    display: inline-block;
    width: 25%;
}
#work .background {
    display: inline-block;
    width: 70%;
    font-size: 0.5em;
}
.background .company-info {
    color: #FFD700;
}
.background p span{

}
