.title(@color: #fff) {
    font-family: 'STKaiti';
    font-weight: bold;
    color: @color;
    font-size: 48px;
}
.self {
    text-align: center;
    .page-title {
        .title();
    }
    h4 {
        font-family: 'SimHei';
        color: #fff;
        font-size: 18px;
    }
    h3 {
        font-family: 'FangSong_GB2312';
        color: #fff;
        font-size: 24px;
    }
    img {
        width: 40%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 10px solid #FFB6C1;
    }
}

#skill {
    .page-title {
        .title((#fff););
        font-size: 36px;
        padding-left: 50px;
        font-family: PingFang-SC-Medium;
        height: 50px;
        line-height: 50px;
        background: url('../static/img/blueTitle.png') left no-repeat;
    
    }
   .skill {
        label {
            color: #333;
            display: block;
            font-size: 0.8em;
            background: url('../static/img/yellowTitle.png') left no-repeat;
            padding-left: 40px;
        }
        span {
            color: #666;
            font-size: 0.6em;
            padding-left: 40px;
        }
   }
}

#work {
    .page-title {
        .title(#fff);
        font-size: 36px;
        padding-left: 50px;
        font-family: PingFang-SC-Medium;
        height: 50px;
        line-height: 50px;
        background: url('../static/img/blueTitle.png') left no-repeat;
    }
    .background {
        display: inline-block;
        width: 98%;
        label, .bg-memo {
            color: #fff0d8;
            font-size: 0.4em;
        }
        .pro-name {
            color: #FFF;
            font-size: 0.5em;
            font-family: PingFang-SC-Medium;
        }
        .company-info {
            color: #FFF;
            font-size: 0.5em;
            line-height: 1;
            position: absolute;
            left: 40%;
            margin-top: -47px;
            font-family: 'PingFang SC','Microsoft YaHei',SimHei,Arial,SimSun;
        }
        
    }
    
}
#edu  {
    .page-title {
        .title(#4876FF);
        font-size: 36px;        
        font-family: PingFang-SC-Medium;        
        display: inline-block;
        width: 25%;
    }
    .edu-background {
        display: inline-block;
        width: 70%;
        font-size: 0.7em;
    }
}

