.title(@color: #fff) {
    font-family: 'STKaiti';
    font-weight: bold;
    color: @color;
    font-size: 48px;
}
.self {
    text-align: center;
    .page-title {
        .title();
    }
    h4 {
        font-family: 'SimHei';
        color: #fff;
        font-size: 18px;
    }
    h3 {
        font-family: 'FangSong_GB2312';
        color: #fff;
        font-size: 24px;
    }
    img {
        width: 40%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 10px solid #FFB6C1;
    }
}

#skill {
    .page-title {
        .title((#F08080););
    }
    /*#skill_title_bg{
        background: url('../static/img/big_title.png') no-repeat 100% 100%;
    }*/
   .skill {
        label {
          color: #333;
          display: block;
          font-size: 0.8em;
        }
        span {
            color: #666;
            font-size: 0.7em;
        }
   }
}

#work {
    .page-title {
        .title(#fff);
    }
    .background {
        display: inline-block;
        width: 98%;
        label, .bg-memo {
            color: #fff0d8;
            font-size: 0.4em;
        }
        .pro-name {
            color: #FFF;
            font-size: 0.5em;
            font-family: 'PingFang SC','Microsoft YaHei',SimHei,Arial,SimSun;
        }
        .company-info {
            color: #FFF;
            font-size: 0.5em;
            line-height: 1;
            position: absolute;
            left: 25%;
            margin-top: -6%;
            font-family: 'PingFang SC','Microsoft YaHei',SimHei,Arial,SimSun;
        }
        
    }
    
}
#edu  {
    .page-title {
        .title(#4876FF);
        display: inline-block;
        width: 25%;
    }
    .edu-background {
        display: inline-block;
        width: 70%;
        font-size: 0.7em;
    }
}

